/* Write your CSS code here */
.img {
  height: 40px;
  width: 150px;
}

.ul {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  list-style-type: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.li {
  margin-left: 20px;
}

.btn1 {
  margin-left: 20px;
  color: #ffffff;
  background-color: #0967d2;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
